<html xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="assets/partnership_layout" type="text/css"/>
<link rel="stylesheet" href="assets/master.css" type="text/css"/>
<link rel="stylesheet" href="assets/layout_2_1.css" type="text/css"/>
<link href="assets/vertical_menu_styles.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="assets/js-image-slider.css" type="text/css">
<script type="text/javascript" src="assets/jquery-1.3.1.min.js"></script>
<script type="text/javascript" src="assets/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="assets/jquery.ennui.contentslider.js"></script>
<link rel="stylesheet" href="assets/jquery.ennui.contentslider.css" type="text/css">
<script src="assets/tabcontent.js" type="text/javascript"></script>
<link href="assets/tabcontent.css" rel="stylesheet" type="text/css" />
<link href=' http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

<link href="assets/menu_style.css" rel="stylesheet" type="text/css">

<body>
<div id="wrapper">
  <div>
    <div id="logo">

    </div>

    <div id="menu" style="text-align: center; color: whitesmoke; font-family:verdana;">
      <!--Homepage   |    Markets   |    Products   |    Services  |   About Us   |   Contact us -->
      <!--Horizontal Menu html code-->
      <ul class="menu">

        <li><a href="/products">Products</a>

          <ul>
            <li><a href="/prolms">ProLMS</a></li>
            <li> <a href="/proschool">ProSchool</a> </li>
            <li> <a href="/procollege">ProCollege</a> </li>
            <li> <a href="/procorp">ProCorp</a></li>
            <li> <a href="/propayilvi">ProPayilvi</a> </li>
            <li> <a href="/promobile">ProMobile</a>  </li>



          </ul>

        </li>
        <li><a href="/markets">Markets</a>

          <ul>
            <li><a href="/schools">Schools</a></li>
            <li><a href="/colleges">Colleges</a></li>
            <li><a href="/corporate">Corporate</a></li>


          </ul>
        </li>




        <li><a href="services">Services</a>
          <ul>
            <li> <a href="/lmssolutions">LMS Solutions</a> </li>
            <li><a href="/contentconsulting">Content Consulting</a>  </li>
            <li><a href="/courseauthoring">Course Authoring</a>  </li>
          </ul>
        </li>

        <li><a href="/global">Global</a></li>

        <li><a href="/about-us">About Us</a>
          <ul>
            <li><a href="/#">Why LearnGuild</a>  </li>
            <li><a href="/#">Leadership Team</a> </li>
            <li><a href="/#">Our History</a>    </li>
            <li><a href="/#">Partners</a>    </li>
            <li><a href="/#">Careers</a>   </li>
          </ul>
        </li>




        <li><a href="/contactus">Contact US</a>
          <ul>

            <li><a href="/location">Location</a></li>

            <li><a href="/events">Events</a></li>
          </ul>

        </li>  </ul>


    </div>


  </div>
  <!--Menu ends-->
  <!--</div>
  <div id="slider1">
    <img src="assets/Learn_Video_Showcase.jpg" alt="image" style="width: 100%;">
  </div>
  <div id="maincontent">
  <div id='body_content'>
    <%#=raw @page.content_for(:body) %>
  </div>

  <div id="banner">*/

    <!--vertical Menu-->
  <!--<div id="slider1">
    <img src="assets/Learn_Video_Showcase.jpg" alt="image" style="width: 100%;">
  </div>  -->

  <div id="layout_content">
    <div id="p_maincontent">
      <div id="p_banner">
        <div id="p_banner_content">
          <p style="font-family:vani;    font-size: x-large; margin-top: 20px;color: white;">TECHNOLOGY</p>
        </div>
      </div>
      <div id="p_vertical_menu">
        <div id='cssmenu'>
          <ul>
            <li class='active'><a href='/cloud'><span>Cloud</span></a></li>
            <li><a href='/scorm'><span>SCORM</span></a></li>
            <li><a href='/http://rubyonrails.org/documentation'><span>RoR</span></a></li>
                     </ul>
        </div>
      </div>
      <div id="p_content">

        <div id='body_content'>
          <%=raw @page.content_for(:body) %>
        </div>

      </div>
    </div>
    <!-- <div id="banner">

    <table>
      <tr>
        <td class="bannerinside">
          <img src="assets/e-learning-2.jpg" style="height:100px; width:200px;"/> <br/>
          <p style="text-align:left;color: dimgrey;">  Enhancing every aspect of learning, academic life and the student experience.<a href="#">Read More.</a></p>
        </td></tr>
      <tr>
        <td class="bannerinside">
          <img src="assets/corp-home-accordion.jpg" style="height:100px; width:200px;"/> <br/>
          <p style="text-align: left;;color: dimgrey;"> Engaging students in the classroom and beyond.<a href="#">Read More.</a></p>
        </td></tr>
      <tr>  <td class="bannerinside">
        <img src="assets/cc-home-accordion.jpg" style="height:100px; width:200px;"/> <br/>
        <p style="text-align:left;;color: dimgrey;">  Enhancing every aspect of learning, academic life and the student experience.<a href="#">Read More.</a></p>
      </td>    </tr>

      <tr>
        <td style="padding: 20px; height: 100px;">
          <h1 style="font-family: arial">Contact us</h1>

        </td>
      </tr>

    </table>


  </div>-->
    <!--<div id='body_content'>
       <!--%=raw @page.content_for(:body) %>
     </div> <div id='side_body_content'>
      <--%=raw @page.content_for(:side_body) %-->
    <!--
    <!-- </div>     -->


    <!--<div style="width: 700px; padding: 120px 0 40px; font: 0.85em arial;">
          <ul class="tabs" persist="true">
            <li><a href="#" rel="view1">Learn</a></li>
            <li><a href="#" rel="view2">Collobrate</a></li>
            <li><a href="#" rel="view3">Services</a></li>
            <li><a href="#" rel="view4">About LearnGuild</a></li>
          </ul>
          <div class="tabcontents">
            <div id="view1" class="tabcontent">
              <b>Learn</b>
              <p style="font-family:Arial; font-size:14px; line-height: 120%; color:dimgray">
                With tools like this, we can build a better education experience for everyone, everywhere, anytime.
                Discover how Learnguild can help you transform the educational experience within every step of the student lifecycle. Get the technology and expertise you need to meet your institution's goals</p>
              <img src="assets/learning_banner.jpg" style="padding: 20px;" width="550px;height:30px"/>

            </div>
            <div id="view2" class="tabcontent">
              <b>Collaborate</b>
              <p>You can have multiple tab contents on the same page, with only one copy of the CSS and JavaScript files.</p>
            </div>
            <div id="view3" class="tabcontent">
              <b>Platforms</b>
              <p>You can also open a tab or a bookmark from a link anywhere on the page.</p>
              <p id="mark4">This is a paragraph with id="mark4".</p>
              <p>By clicking the bookmark link at the bottom of this Tab Content, you will see me with this Tab Content panel being opened at the same time.</p>
            </div>
            <div id="view4" class="tabcontent">
              <b>Services</b>
              <p>Link from another page can select a tab on the target page when loaded.</p>
            </div>
          </div>


        </div>        -->













  </div>


</div>

<div id="footer">
  <table id="footer_table" cellspacing="20" style="margin:0px auto;">
    <tr valign="top">
      <td>
        <div class="cols">

          <a href="/products">Products</a>   <br>

          <a href="/prolms">ProLMS</a><br>
          <a href="/proschool">ProSchool</a> <br>
          <a href="/procollege">ProCollege</a> <br>
          <a href="/procorp">ProCorp</a><br>
          <a href="/propayilvi">ProPayilvi</a> <br>
          <a href="/promobile">ProMobile</a> <br>

        </div>
      </td>

      <td>
        <div class="cols">
          <a href="/services">Services</a>  <br>

          <a href="/lmssolutions">LMS Solutions</a> <br>
          <a href="/contentconsulting">Content Consulting</a>            <br>
          <a href="/courseauthoring">Course Authoring</a>       <br>

        </div>
      </td>
      <td>
        <div class="cols">
          <a href="/contactus">Contact US</a> <br>


          <a href="/location">Location</a> <br>

          <a href="/events">Events</a> <br>

        </div>
      </td>


      <!--<td>
      <div class="cols">
      <b>About Deemsys Inc.<br>
      <a href='' class="small">About Us</a><br>
      <a href='' class="small">News Releases</a><br>
      <a href='' class="small">Careers</a><br>
      <a href='' class="small">Marketing Opportunities</a><br>
      <a href='' class="small">Customer Testimonials</a><br>
      <a href='' class="small">Security Center</a><br>
      <a href='' class="small">Round Upfor Charity</a><br>
      <a href='' class="small">Inside Deemsys Inc.</a></b>
      </div>
  </td>-->

      <td colspan="7" align="centre">
        <div class="cols">

          &nbsp;&nbsp;Connect with Learnguild
          <br/><a  href="http://facebook.com" target="_blank">
          <img style="margin: 0px;" src="assets/learnguild_facebook.png" border="0" /></a>
          <a  href="http://twitter.com" target="_blank">
            <img style="margin: 0px;" src="assets/learnguild_twitter.png" border="0" /></a>
          <a  href="http://rssfeeds.com" target="_blank">
            <img style="margin:0PX;height: 25px; width: 25px;" src="assets/learnguild_feeds.com.png" border="0" /></a>


        </div>
    </tr>
    </td>
    <tr>
      <td colspan="6">
        <div class="cols" align="center">
          <h5 style="text-align: center; color: white;" class="small"></h5>
          <b>Copyright © 2013-2014.<a style="color: #000000;" href="http://www.deemsysinc.com/">Deemsys Inc</a>. All rights reserved.</b>
        </div>
      </td>
    </tr>
  </table>
</div>

</body>
</html>